<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dir4FD437D5515547CC56A93A97EC62EBD5" Name="7zip">
                <Component Id="cmpC70E555036EB7E92A7004BD4AB7FF1FC" Guid="{E9D66295-8C7F-4DD4-8896-67B74EB729E9}">
                    <File Id="filE7A19110236F862B9C83A452BAD25232" KeyPath="yes" Source="!(wix.PackageSource=D:\Repositories\gitlab.haprotec\misc\NuGetLib\NuGetLib\Library)\7zip\7za.exe" />
                </Component>
                <Directory Id="dirA72DE357AF3A33AA3D7A666886D3EEA0" Name="x64">
                    <Component Id="cmpB2C16228080A94B00EF711A5720E2555" Guid="{5EEB34CF-A0C6-42AD-A054-E459106ED481}">
                        <File Id="fil496658ED75E41268558CD1629F365B76" KeyPath="yes" Source="!(wix.PackageSource=D:\Repositories\gitlab.haprotec\misc\NuGetLib\NuGetLib\Library)\7zip\x64\7za.exe" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LibraryFiles">
            <ComponentRef Id="cmpC70E555036EB7E92A7004BD4AB7FF1FC" />
            <ComponentRef Id="cmpB2C16228080A94B00EF711A5720E2555" />
        </ComponentGroup>
    </Fragment>
</Wix>